* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    background-color: #1f2937;
    padding: 16px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-upper {
    display: flex;
    justify-content: space-around;
}

.header-lower {

}

.footer {
    text-align: center;
    color: #f9faf8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    color: rgba(107,114,128,1);
}

.content {
    display: flex;
    flex-direction: column;
}

.container-two-col {
    padding: 16px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.call-to-action{
    display: flex;
}

input {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 48px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col-1 {
    justify-content: space-between;
    width: 500px;
}

img {
    width: 500px;
}

a {
    text-decoration: none;
    color: rgba(107,114,128,1);
}

.npc-info-col {
    align-items: center;
}

.info-col {
    align-items: center;    
}

.npc-info-row {
    flex-wrap: wrap;
    gap: 48px;
}

.img-border {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    overflow:hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
}

.img-info {
    width: 200px;
    height: 200px;
    vertical-align:bottom;
    position:relative;
    z-index:-1;
}

.npc-info-text {
    font-size: 16px;
    color: rgba(107,114,128,1);
}

.inner-col {
    align-items: center;
    gap: 10px;
}